<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <textarea id="crn-textarea-69632" ng-model="vars.textarea8694" maxlength="300" style="resize:none;" resize="none" class="col item item-input component-holder" rows="5" placeholder="Textarea component" data-component="crn-textarea"></textarea></ion-content>
</ion-view>